page
  font-family "PingFang SC Medium"
  width 100%
  background-color #fff

.flex-1
  flex 1

// 颜色
.color-g
  color #30CB9B
.color-r
  color #EC4040
.color-888
  color #888
.color-222
  color #222

// 文字style
.text-style-1
  color #222222
  font-size 32px
  line-height 32px
  font-weight 500
.text-style-2
  color #888888
  font-size 24px
  line-height 24px

// view点击态
.view-hover
  background-color rgba(0, 0, 0, 0.1)
  opacity 0.7

// 按钮
.btn-style
  &::after
    border none
// 按钮 - 颜色
.btn-primary
  background #04C160
  color #fff
.btn-default
  background #fff
  color #888
  border 2px solid #EEEEEE
.btn-orange
  background #EC8140
  color #fff
.btn-purple
  background #7B8FFF
  color #fff
.btn-purple-o
  color #7B8FFF
  border 2px solid #7B8FFF
  background #fff
// 按钮 - 大小
.btn-large
  width 100%
  height 88px
  line-height 88px
// 按钮 - 椭圆
.btn-circle-44
  border-radius 44px
// 按钮 - 其他
.btn-hover
  opacity 0.8
.btn-style[disabled]
  background #BFBFBF
  color #ffffff
  border 0

// icon
.icon_save
  width 28rpx
  height 28rpx

// 列表样式
//用户商家列表
.list-style-sheet1
  .sheet1-item-wrap
    padding-left 40px
  .sheet1-item
    padding 32px 30px 32px 0
    display flex
    border-top 2px solid #F2F2F2
  .sheet1-item-content
    flex 1
  .sheet1-item-image
    width 136px
    height 136px
    margin-right 20px
  .sheet1-item-text-1
    color #222222
    font-size 30px
    line-height 30px
    font-weight bold
    margin-bottom 24px
    display flex
    align-items center
  .sheet1-item-text-2
    color #676767
    font-size 26px
    line-height 26px
    &+.sheet1-item-text-2
      margin-top 20px
// 员工商家管理
.list-style-sheet2
  font-size 32px
  color #222
  .sheet2-item-wrap
    padding-left 40px
  .sheet2-item
    display flex
    align-items center
    height 92px
    padding-right 40px
    border-bottom 2px solid #F2F2F2
  .sheet2-item-name
    flex 1

// 手风琴样式
.accordion-wrap
  .accordion-head
    display flex
    align-items center
    height 92px
    background #F6F6F6
    padding 0 40px
    border-top 2px solid #F2F2F2
    border-bottom 2px solid #F2F2F2
  .accordion-content
    flex 1
    display flex
    align-items center
  .accordion-chevron
    transition all 0.5s
    transform rotateZ(0)
    &.active
      transform rotateZ(180deg)
  .accordion-list
    overflow-y auto
    max-height 0
    transition max-height 0.5s
    &.active
      max-height 470px
  .accordion-item
    display flex
    align-items center
    height 92px
    border-bottom 2px solid #F2F2F2
    margin-left 40px
    padding-right 40px
    &:last-child
      border-bottom 0