page
  font-family "PingFang SC Medium"
  width 100%
  background-color #fff

.flex-1
  flex 1

// 按钮
.btn-style
  &::after
    border none
.btn-primary
  background #04C160
  color #fff
.btn-default
  background #fff
  color #888
  border 2px solid #EEEEEE
.btn-hover
  opacity 0.8

// 遮罩层
.mask
  position fixed
  z-index 1000
  top 0
  right 0
  left 0
  bottom 0
  background rgba(0,0,0,0.6)
