
.p-staff-list
  font-size 28px
  color #222
  .u-staff-head
    background #F2F2F2
    padding 20px 0
    display flex
    align-items center
  .u-item
    display flex
    align-items center
    padding 32px 0
    border-bottom 2px solid #F2F2F2
  .u-item-price
    width 190px
  .u-item-name
    padding-left 40px

.p-form
  padding 0 0 200px 40px
  .u-item
    display flex
    align-items center
    border-bottom 2px solid #EAEAEA
    padding 42px 0 24px 0
    font-size 32px
    line-height 32px
    color #222
  .u-name
    width 100px
  .u-input
    flex 1

.p-bottom-btn
  position absolute
  bottom 40px
  left 0
  right 0
  padding 0 40px
