.p-contain
  padding-bottom 140px
.p-tab-bar
  padding-top 0
  .at-tab-bar__title
    font-size 20rpx

// 已预约记录 页面
.p-item-card
  border-bottom 16px solid #F2F2F2
  padding 32px 40px
  &:first-child
    border-top 16px solid #F2F2F2
  .u-item-form
    display flex
    align-items center
    font-size 28px
    line-height 28px
    color #000
    &+.u-item-form
      margin-top 24px
    .u-item-form-name
      width 112px
      text-align left
.p-user-detail
  padding 40px
  display flex
  align-items center
  .u-detail-info
    margin-left 18px
  .u-detail-name
    color #000000
    font-size 40px
    line-height 40px
    margin-bottom 16px
    font-weight 500
  .u-detail-phone
    color #888888
    font-size 28px
    line-height 28px
    display flex
    align-items center
    max-height 440px
    &+.u-detail-phone
      margin-top 16px
  .u-text-over
    max-width 400px
    text-overflow ellipsis
    white-space nowrap
    overflow hidden
  .u-image-business
    width 136px
    height 136px
  .u-icon-1
    width 32px
    height 32px
  .u-icon-2
    width 32px
    height 32px
  .u-icon-3
    width 32px
    height 32px

// 我的 页面
.p-operation-list
  .u-item
    display flex
    align-items center
    padding 32px 40px
    color #222
    font-size 28px
    line-height 28px
    border-bottom 16px solid #F2F2F2
    &:first-child
      border-top 16px solid #F2F2F2
  .u-item-name
    width 190px
  .u-item-value
    flex 1
    text-align right
    margin-right 16px
    text-overflow ellipsis
    white-space nowrap
    overflow hidden
.p-bottom-btn
  position absolute
  bottom 128px
  left 0
  right 0
  padding 0 40px
  .u-btn
    border-color #CFCCCC
