.check-list-style
  .u-label
    box-sizing border-box
    display inline-block
    width 152px
    height 60px
    line-height 60px
    font-size 28px
    color #222222
    text-align center
    border 2px solid #BFBFBF
    border-radius 4px
    margin 0 20px 20px 0
    &:nth-child(4n)
      margin-right 0
    &.checked
      background #EC8140
      border 0
      border 2px solid transparent
      color #ffffff
    &.disabled
      background #EFEFEF
      border 0
      border 2px solid #EFEFEF
      color #888888
  .u-checkbox
    display none
    