
.p-contain
  display flex
  align-items center
  flex-direction column
  .u-bg-logo
    width 600px
    height 600px
    margin-top 50px
  .u-brand-name
    color #222222
    font-size 48px
    font-weight 600
    line-height 60px
    margin-top 50px
  .u-brand-slogan
    color #222222
    font-size 32px
    line-height 40px
    margin-top 16px
  .u-enter-wrap
    margin-top 80px
    display flex
    align-items center
  .u-enter-item
    font-size 32px
    line-height 32px
    border-radius 10px
    padding 28px 80px
    &+.u-enter-item
      margin-left 54px

  .u-foot
   display flex
   align-items center
   justify-content center
   position absolute
   bottom 40px
   left 0
   right 0
   font-size 24px
   color #888
  .u-foot-logo
    width 28px
    height 28px
    margin-right 8px