
.p-contain
  .u-foot
    position absolute
    bottom 40px
    left 0
    right 0
    padding 0 40px
.p-form
  margin-top 130px
  padding 0 50px
  .u-item
    display flex
    align-items center
    border-bottom 2px solid #EAEAEA
    padding 36px 0 24px 0
    font-size 32px
    line-height 32px
    color #222
  .u-name
    width 168px
  .u-input
    flex 1
    