
.p-section-business
  padding-top 20px
  border-bottom 16px solid #F4F4F4
  .u-title
    color #222222
    font-size 40px
    line-height 40px
    font-weight 500
    margin 0 0 24px 40px
  .u-img-list
    margin 0 40px 40px 40px
  .u-img
    width 200px
    height 140px
    &+.u-img
      margin-left 20px
  .u-detail-list
    padding-left 40px
  .u-detail-item
    display flex
    align-items center
    height 90px
    padding-right 40px
    border-top 2px solid #F2F2F2
  .u-detail-item-value
    flex 1
    color #888888
    font-size 28px
    line-height 28px
    margin-left 20px

.p-section-goods
  .u-title
    color #222222
    font-size 32px
    line-height 32px
    font-weight 500
    padding 34px 46px
  .u-btn
    padding 12px 28px
    font-size 24px
    color #ffffff
    line-height 24px
    border-radius 24px

.p-order-detail
  .u-order-head
    padding 40px 28px 32px 40px
    border-bottom 8px solid #F2F2F2
  .u-head-title
    display flex
    align-items flex-end
    margin-bottom 40px
  .u-title-icon
    align-self flex-start
    margin 0 24px 0 12px